.body-overlay {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);

  &--block {
    display: block;
  }
}

@media (min-width: 1200px) {
  .body-overlay {
    display: none;
  }
}
