@import './utils/mixins';
@import './utils/vars';

.brands {
  overflow: hidden;

  &__list {
    padding: 16px;
    margin: 0;
    width: auto;
    color: #666;
    text-decoration: none;
    list-style-type: none;
  }

  &__card {
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.02);

    &:hover {
      box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.1);
      transform: scale(1.01);
      transition: 0.3s;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    text-decoration: none;
    color: #666;

    &::after {
      display: inline-block;
      content: '';
      border: 2px solid #ff3e79;
      border-radius: 50%;
      background-image: url(../img/dropdown.svg);
      @include backgroundRepeatPosition(no-repeat, center);
      @include size(35px, 35px);
    }
  }
}

@media (min-width: 768px) {
  .brands {
    &__inner {
      max-height: 182px;
      transition: 0.2s ease-in-out;
    }

    &__inner--toogle {
      max-height: 100%;
    }

    &__list {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
      column-gap: 16px;
      row-gap: 16px;
    }
  }
}

@media (max-width: 768px) {
  .brands__card {
    width: 240px;
  }
}
