.call {
  width: 320px;
  height: 100vh;
  position: fixed;
  z-index: 4;
  top: 0px;
  right: 0px;
  overflow-y: auto;
  box-shadow: rgba(14, 24, 80, 0.2) 16px 0px 52px;
  transform: translateX(100%);
  background: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;

  &--active {
    transform: translateX(0%);
  }

  &__inner {
    padding: 30px;
  }
}
