.lang {
  &__list {
    padding-top: 12px;
    padding-left: 8px;
  }

  &__item {
    display: inline-block;
  }

  &__button {
    background-color: rgba(14, 24, 80, 0);
    border: none;
    padding: 8px;
    opacity: 0.5;
    transition: all 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &--active {
      opacity: 1;
    }
  }
}
