.menu {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 8px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease-in-out;
  }
}
