.section-title {
  padding: 16px;
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: $h2Color;
  background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);
}
