@import './utils/mixins';
@import './utils/vars';

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  height: 100vh;
  width: 320px;
  overflow-y: auto;
  background: #ffffff;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
  transition: 0.3s;
  transform: translateX(-100%);

  &__list {
    display: flex;
    gap: 16px;
    padding: 16px;
    padding-bottom: 24px;
    list-style-type: none;
    margin: 0;
    flex-direction: row;
    align-items: center;

    &--column {
      flex-direction: column;
    }
  }

  &__item {
    &--margin-right {
      margin-right: auto;
    }
    &--none--fullhd {
      display: block;
    }

    @media (min-width: 1200px) {
      &--none--fullhd {
        display: none;
      }
    }
  }
}

.sidebar--active {
  transform: translateX(0%);
}

@media (min-width: 1200px) {
  .sidebar {
    position: relative;
    width: 620px;
    left: 0;
    transform: translateX(0);
    box-shadow: none;
    height: auto;
  }
}
