@import './utils/mixins';
@import './utils/vars';

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    display: flex;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 16px 30px 16px 16px;
  }

  &__button {
    display: none;
  }
}

.notify {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(14, 24, 80, 0);
  border: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 2px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 1200px) {
  .title__button {
    display: block;
  }
}
