@import './components/import.scss';

@import './utils/mixins';
@import './utils/vars';
@import './utils/normalize';

@include font-face('TT Lakes Regular', '../fonts/TTLakes-Regular', normal, normal);
@include font-face('TT Lakes Medium', '../fonts/TTLakes-Medium', normal, normal);

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.body {
  font-family: 'TT Lakes Regular';
}
